#header-bottom {
	border-top: 1px solid #666666;
	border-bottom: 1px solid #444444;
	text-align: center;
	
}
#header-bottom ul {
	margin: 0;
	padding: 0;
}

#header-bottom li {
	display: inline;
}

#home a:link, #home a:visited {
	text-decoration: none;
	background-color :#white;
	color: #24486C;
}

#company a:link, #header-bottom a:visited {
	text-decoration: none;
	background-color :#4c8f52;
	color: #ffffff;
}

#product a:link, #header-bottom a:visited {
	text-decoration: none;
	background-color :#7bb55e;
	color: #ffffff;
}

#people a:link, #header-bottom a:visited {
	text-decoration: none;
	background-color :#abd669;
	color: #ffffff;
}

#browse-companies {
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  background-color: #256290;
  color: white;
  margin: 0;
  padding: 0;
}

#left-column {
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  background-color: #256290;
  color: white;
  margin: 0;
  padding: 0;
}

#new-company {
  	position: absolute;
	  top: 0;
	  left: 0;
	  width: 250px;
	  background-color: #256290;
	  color: white;
	  margin: 0;
	  padding: 0;	
}

#info-company {
  	position: absolute;
	  top: 0;
	  left: 0;
	  width: 250px;
	  background-color: #eeeeee;
	  color: black;
	  margin: 0;
	  padding: 0;
}

#rcol-company {
  	position: absolute;
	  top: 0;
	  left: 485px;
	  width: 250px;
	  background-color: #eeeeee;
	  color: black;
	  margin: 0;
	  padding: 0;
}


#r_sidebar {
	float: right;
	width: 250px;
	background-color: #ffffff;
}

#l_sidebar {
	float: left;
	width: 250px;
	background-color: #ffffff;
	border-left: 1px #C7DAED;
}

#content {
	background-color: #ffffff;
	margin: 0 260px 0 260px;
}

#footer {
	clear: both;

}

#widget {
 	margin-bottom: 0.5em;
 	background-color: #ffffff;
}

#widget2 {
	-webkit-box-shadow: inset 0px 2px 4px rgba(0,0,0,0.4);
	-moz-box-shadow: inset 0px 2px 4px rgba(0,0,0,0.4);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

#form {
	-webkit-box-shadow: inset 0px 2px 4px rgba(0,0,0,0.4);
	-moz-box-shadow: inset 0px 2px 4px rgba(0,0,0,0.4);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	float: left;
}

#tabs {
 	background-color: #C7DAED;
}

#search {
 	margin-bottom: 0.5em;
 	background-color: #ffffff;
    margin-left: 300px;
	float: left;
}

ul#tabnav {
	list-style-type: none;
	margin: 0;
	padding-left: 40px;
	padding-bottom: 1px solid #711515;
}

ul#tabnav li {
	float: left;
	height: 21px;
	background-color: #24486C;
	color #ffffff;
	margin: 2px 2px 0 2px;
	border: 1px solid #C7DAED;
}

ul#tabnav a:link, ul#tabnav a:visited {
	display: block;
	color: #ffffff;
	background-color: transparent;
	text-decoration: none;
	padding: 4px;
}

ul#tabnav a:hover {
	background-color: #9FACBA;
	color: #ffffff;
}

body#home li.home, body#add_comp li.add_comp,
body#companies li.companies, body#forum li.forum,
body#blog li.blog, body#contact li.contact,
body#about li.about, body#advertise li.advertise {
	border-bottom: 1px solid #fff;
	color: #000000;
	background-color: #24486C;
}

body#home li.home a:link, body#home li.home a:visited,
body#add_comp li.add_comp a:link, body#add_comp li.add_comp a:visited,
body#companies li.companies a:link, body#companies li.companies a:visited,
body#forum li.forum a:link, body#forum li.forum a:visited,
body#blog li.blog a:link, body#blog li.blog a:visited,
body#contact li.contact a:link, body#contact li.contact a:visited,
body#about li.about a:link, body#about li.about a:visited,
body#advertise li.advertise a:link, body#advertise li.advertise a:visited {
	color: #000000;
	background-color: #ffffff;
}

body { margin: 0px 0px 0px 0px; }

/* -------- Header -------- */

#table_header {
border: 0px;
border-collapse: collapse;
padding: 0;
table-layout:fixed;
width: 100%;
}

#header_top_border {
background-color: #bfcbd7;
height: 4px;
}

#header_main {
background-color: #dbe7ec;
height: 60px;
}

#header_bottom_border {
background-color: #bdd3db;
height: 2px;
}

#header_bottom_border2 {
background-color: #d7e4e9;
height: 7px;
}

/* -------- Menu -------- */

#table_menu {
border: 0px;
border-collapse: collapse;
padding: 0;
table-layout:fixed;
width: 100%;
}

#table_menu_inner {
border: 0px;
border-collapse: collapse;
padding: 0;
table-layout:fixed;
width: 100%;
background-image: url("images/template_navbar_top.gif");
height: 38px;
}

#menu_top_border {
background-color: #ffffff;
height: 2px;
}

#menu_bottom_border1 {
background-color: #ffffff;
height: 1px;
}

#menu_bottom_border2 {
background-color: #d7e4e9;
height: 1px;
}

#menulink { 
font-family: Tahoma;
font-size: 12px;
font-style: normal;
font-weight: bold;
text-decoration: none;
color:#000000;
}

#menulink:hover { 
background-color: #ffffff;
cursor:hand;
cursor:pointer;
font-family: Tahoma;
font-size: 12px;
font-style: normal;
font-weight: bold;
text-decoration: none;
color:#000000;
}

/* -------- This is what the menu item should be set to when the page related is being viewed -------- */
#menulinkselected { 
background-color: #ffffff;
font-family: Tahoma;
font-size: 12px;
font-style: normal;
font-weight: bold;
text-decoration: none;
color:#000000;
} 


/* -------- Body -------- */

#table_body {
border: 0px;
border-collapse: collapse;
padding: 0;
table-layout:fixed;
width: 100%;
}

#body {
background-color: #ffffff;
}

/* -------- Footer -------- */

#table_footer {
border: 0px;
border-collapse: collapse;
padding: 0;
table-layout:fixed;
width: 100%;
}

#footer {
background-color: #bdcbd7;
height: 130px;
}

/* -------- HOMEPAGE ONLY SECTIONS (Above the body) -------- */

#table_homepage {
border: 0px;
border-collapse: collapse;
padding: 0;
table-layout:fixed;
width: 100%;
}

#featured_section {
background-color: #79a6cb;
height: 280px;
}

#border1 {
background-color: #d1e1e7;
height: 2px;
}

#border2 {
background-color: #aaaaaa;
height: 2px;
}

#border3 {
background-color: #ffffff;
height: 2px;
}

#border4 {
background-color: #c6dee7;
height: 2px;
}

#recent {
background-image: url('images/home_recentbar.gif');
height: 110px;
}

.letter, .letter_current {
	width: 1em;
	text-align: center;
	border: 1px solid gray;
	background: #fff;
	padding: 5px 2px 1px 2px;
	float: left;
	margin: 2px;
}

.letter:hover {
	background: #CED5CF;
}

.letter_current {
	background: #24486C;
	font-weight: bold;
	border: 1px solid black;
	color: #ffffff;
}

.label {
	font-weight : bolder;
	font-size : 10px;
}

.data_info {
	font-size : 10px;
}

#column3 {
 position: absolute;
 top: 0px;
 left: 900px;
 width: 350px;
}
 
