<div id="widget2">
<table>
	<tr>
		<td>
			<% @letters.each do |letter| %>
			<% letter_class = (letter == @initial) ? "letter_current" : "letter"
			%>

			<%= link_to letter, { :action => "index", :id => letter },
			:class => letter_class %>
			<% end %>
		</td>
	</tr>
</table>
</div>