<table>
  <tr>
	<td class="data_info"><p>
		<strong>Welcome</strong><br>
		Before you start, please login. <br>
		Don't have an account? <br>
		It's free! Create one in minutes or login with Facebook. 
		Logging in allows you to track updates, follow companies, and access more features
	</p></td>
  </tr>
  	<tr>
		<td class="data_info"><p>
			<strong>Adding a Company</strong><br>
			To submit a company, please enter as much information as you can.  Before you begin, please use the search bar above
			to check if the company is already in our database.
		</p></td>
	  <tr>
</table>