<div class="product">
<% fields_for "company[product_attributes][]", product do |f| %>
<table>
	<tr>
		<td>Product Name:</td> 
		<td><%=f.text_field :product_name, :index => nil %></td>
	</tr>
	<tr>
		<td>Overview:</td> 
		<td><%= f.text_area :overview %></td>
	</tr>
	<tr>
		<td>Website:</td> 
		<td><%=f.text_field :website %></td>
	</tr>
	<tr>
		<td>Tags:</td>
	    <td><%= f.text_field :tag_list %></td>
	  </tr>
</table>		
<% end %>
</div>