<table id="table_header">
	<tr>
		<td id="header_top_border" colspan="2">
		</td>
	</tr>
	<tr>
		<td id="header_main"><h1>&nbsp;SourceBase</h1></td>
		<td id="header_main">
			<% form_tag do %>

						<input type="text" id="search" name="search"/> <input type="submit" value="Search"/>

			<% end %>
		</td>
	</tr>
	<tr>
		<td id="header_bottom_border" colspan="2">
		</td>
	</tr>
	<tr>
		<td id="header_bottom_border2" colspan="2">
		</td>
	</tr>
</table>