<table id="table_menu">

</tr>
<tr>
	<td id="menu_top_border">
	</td>
</tr>
<tr>
	<td>
	<table id="table_menu_inner">
		<tr>
			<td width="5%">&nbsp;</td>
			<td id="menulink" align="center" width="10%"><%= link_to("Home")  %></td>
			<td id="menulink" align="center" width="15%"><%= link_to("Add Company", :controller => "companies", :action => "new") %></td>
			<td id="menulink" align="center" width="15%"><%= link_to("Browse Companies", :controller => "companies", :action => "index")  %></td>
			<td id="menulink" align="center" width="10%" onclick="javascript:window.location.href='x';">Forum</td>
			<td id="menulink" align="center" width="10%" onclick="javascript:window.location.href='x';">Blog</td>
			<td id="menulink" align="center" width="10%" onclick="javascript:window.location.href='x';">Contact</td>
			<td id="menulink" align="center" width="10%" onclick="javascript:window.location.href='x';">About</td>
			<td id="menulink" align="center" width="10%" onclick="javascript:window.location.href='x';">Advertise</td>
			<td width="5%">&nbsp;</td>
		</tr>
	</table>
	</td>
</tr>
<tr>
	<td id="menu_bottom_border1">
	</td>
</tr>
<tr>
	<td id="menu_bottom_border2">
	</td>
</tr>
</table>